Package: com.lpane.browserdefault
Name: BrowserDefault
Depends: mobilesubstrate
Version: 1.9.2
Architecture: iphoneos-arm
Description: BrowserDefault allows users to choose the browser links are opened in.
Maintainer: lpane
Author: lpane
Section: Tweaks
